.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.current-beat {
  background-color: black;
  color: white;
}

th {
  text-align: center;
}

.editor-cell {
  width: 40.5px;
  height: 20.5px;
  background-color: white;
  border: 1px solid grey;
}

.editor-cell .active {
  background-color: grey;
}
