.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.current-beat {
  background-color: black;
  color: white;
}

th {
  text-align: center;
}

td {
  width: 40.5px;
  height: 20.5px;
}
